<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <br>
<% if (post.updated) { %>
    <span><%= 'LastUpdated '  %> </span>
    <time datetime="<%= post.date.format() %>">
        <% if (post.lang) { %>
                <%= post.updated.locale(post.lang).format(__('updated_format')) %>
            <% } else { %>
                <%= post.updated.locale(page.lang).format(__('updated_format')) %>
            <% } %>
    </time>
<% } %>
</div>
